<header
  class="flex align-center space-between w-full col-gap-10"
  (clickOutside)="cancelEdit($event)"
>
  <ng-container *ngIf="(isEditingTitle$ | async) === false; else editingState">
    <p class="list-title">{{ list.title }}</p>
    <button
      pButton
      icon="pi pi-pencil"
      class="p-button-text p-button-sm"
      (click)="startEditing($event)"
    ></button>
  </ng-container>
</header>

<ng-template #editingState>
  <input
    class="p-button-text p-button-sm"
    pInputText
    type="text"
    [formControl]="listTitleFormControl"
    [budgetelloAsyncAutofocus]="!!(isEditingTitle$ | async)"
    (keyup.enter)="listTitleChanged.emit({ title: listTitleFormControl.value })"
    (keyup.esc)="cancelEdit($event)"
  />
  <button
    pButton
    icon="pi pi-times"
    class="p-button-text p-button-sm"
    (click)="cancelEdit($event)"
  ></button>
</ng-template>
