<header
  class="flex align-center space-between w-full col-gap-10"
  (clickOutside)="cancelEdit($event)"
>
  <ng-container *ngIf="!isEditingTitle; else editingState">
    <p class="list-title">
      <i
        class="list-type-indicator list-type-indicator-{{
          list.type | mapListOperatorToIcon
        }} mx-6 pi pi-{{ list.type | mapListOperatorToIcon }}"
      ></i
      >{{ list.title }}
    </p>
    <budgetello-list-context-menu
      (editButtonClicked)="startEditing()"
      (deleteButtonClicked)="deleteList()"
    ></budgetello-list-context-menu>
  </ng-container>
</header>

<ng-template #editingState>
  <input
    pInputText
    type="text"
    [formControl]="listTitleFormControl"
    [budgetelloAsyncAutofocus]="isEditingTitle"
    (keyup.enter)="submitListTitleEdit($event)"
    (keyup.escape)="cancelEdit($event)"
  />
  <button
    pButton
    icon="pi pi-times"
    class="p-button-text p-button-sm p-button-plain"
    (click)="cancelEdit($event)"
  ></button>
</ng-template>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [autoZIndex]="true"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
