<div
  class="flex space-between card"
  [class.pointer]="list.type !== listTypes.Summary"
  (contextmenu)="showCardDialog($event)"
  pTooltip="right click to edit"
  tooltipPosition="bottom"
  [showDelay]="750"
  [tooltipDisabled]="list.type === listTypes.Summary"
  [life]="1000"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<ng-template #content>
  <ng-container [ngSwitch]="list.type">
    <ng-container *ngSwitchCase="listTypes.Stock">
      <p-panel
        class="w-full"
        header="{{ card.displayName }}"
        [toggleable]="true"
        [collapsed]="true"
        expandIcon="pi pi-angle-down"
        collapseIcon="pi pi-angle-up"
        (onBeforeToggle)="$event.originalEvent.stopImmediatePropagation()"
      >
        <div class="flex-column space-between px-10 gap-10">
          <div class="shares flex space-between align-center">
            <div>shares</div>
            <div>{{ card.shares }}</div>
          </div>
          <ng-container *ngIf="viewObj$ | async as viewObj">
            <ng-container *ngIf="viewObj.apiLimit">
              <p-tag severity="danger">
                Out of api calls - please try again later
              </p-tag>
            </ng-container>
            <ng-container *ngIf="viewObj.error">
              <p-tag severity="danger">Something went wrong</p-tag>
            </ng-container>

            <ng-container *ngIf="viewObj.stockPrice && viewObj.total">
              <div class="shares flex space-between align-center">
                <div>stock price</div>
                <div *ngIf="stockData$ | async as stockData">
                  {{ stockData.stockPrice | currency: 'USD':'symbol':'1.0' }}
                </div>
              </div>
              <div class="shares flex space-between align-center">
                <div>total</div>
                <div *ngIf="stockData$ | async as stockData">
                  {{ stockData.total | currency: 'USD':'symbol':'1.0' }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </p-panel>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <h4 class="title">{{ card.title }}</h4>
      <p class="amount amount-{{ card.title || '' | kebabcase }}">
        {{ card.amount | currency: 'USD':'symbol':'1.0' }}
      </p>
    </ng-container>
  </ng-container>
</ng-template>
