<h1 class="title mb-20">
  <i class="pi pi-dollar"></i>
  Budgetello
</h1>

<div class="container">
  <form
    autocomplete="off"
    [formGroup]="form"
    (submit)="onSubmit($event)"
  >

    <!-- EMAIL -->
    <div class="p-float-label p-input-icon-right mb-20">
      <input
        pInputText
        formControlName="email"
        id="email"
        type="email"
      >
      <label for="email">Email</label>
    </div>

    <!-- PASSWORD -->
    <div class="p-float-label mb-20">
      <p-password
        [toggleMask]="true"
        formControlName="password"
        id="password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [ngClass]="{
          'error': form.controls['password'].invalid && form.controls['password'].dirty
        }"
      >
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="footer">
          <ul class="password-suggestions my-20">
            <li>
              <ng-container *ngIf="hasLowerCase$ | async; else invalid">
                <ng-container *ngTemplateOutlet="valid"></ng-container>
              </ng-container>
              At least one lowercase
            </li>
            <li>
              <ng-container *ngIf="hasUpperCase$ | async; else invalid">
                <ng-container *ngTemplateOutlet="valid"></ng-container>
              </ng-container>
              At least one uppercase
            </li>
            <li>
              <ng-container *ngIf="hasNumber$ | async; else invalid">
                <ng-container *ngTemplateOutlet="valid"></ng-container>
              </ng-container>
              At least one numeric
            </li>
            <li>
              <ng-container *ngIf="hasMinimum$ | async; else invalid">
                <ng-container *ngTemplateOutlet="valid"></ng-container>
              </ng-container>
              Minimum 8 characters
            </li>
          </ul>
        </ng-template>
      </p-password>
      <label for="password">Password</label>
    </div>


    <!-- PASSWORD -->
    <div class="p-float-label mb-20">
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="verify"
        id="verify"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [ngClass]="{
          'error': form.controls['verify'].dirty && (form.controls['verify'].errors !== null || passwordsDoNotMatchError)
        }"
      ></p-password>
      <label for="verify">Verify password</label>
    </div>

    <p-button type="submit" label="Sign up" ></p-button>
  </form>
  <p-divider align="center">
    <b>OR</b>
  </p-divider>
</div>



<ng-template #valid>✅</ng-template>
<ng-template #invalid>🙅</ng-template>


