<budgetello-title></budgetello-title>
<div class="container">
  <form autocomplete="off" [formGroup]="form" (submit)="onRegister($event)">
    <!-- Name -->
    <div class="p-float-label p-input-icon-right mb-20">
      <input pInputText formControlName="name" id="name" type="text" />
      <label for="name">Name</label>
    </div>

    <!-- EMAIL -->
    <div class="p-float-label p-input-icon-right mb-20">
      <input pInputText formControlName="email" id="email" type="email" />
      <label for="email">Email</label>
    </div>

    <!-- PASSWORD -->
    <div class="p-float-label mb-20">
      <p-password
        [toggleMask]="true"
        formControlName="password"
        id="password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [ngClass]="{
          error:
            form.controls['password'].invalid && form.controls['password'].dirty
        }"
      >
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <budgetello-password-suggestions
            [suggestions]="passwordSuggestions"
          ></budgetello-password-suggestions>
        </ng-template>
      </p-password>
      <label for="password">Password</label>
    </div>

    <!-- VERIFY PASSWORD -->
    <div class="p-float-label mb-20">
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="verify"
        id="verify"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [ngClass]="{
          error:
            form.controls['verify'].dirty &&
            (form.controls['verify'].errors !== null ||
              passwordsDoNotMatchError)
        }"
      ></p-password>
      <label for="verify">Verify password</label>
    </div>

    <p-button
      type="submit"
      label="Sign up"
      [loading]="authenticationService.usernamePasswordLoading"
    ></p-button>
  </form>

  <p-divider align="center">
    <b>OR</b>
  </p-divider>

  <div class="authentication-providers">
    <budgetello-sign-in-with-google
      (clicked)="authenticationService.signInWithGoogle()"
    ></budgetello-sign-in-with-google>
  </div>

  <p class="mt-20 fs-12 text-center">
    Already have an Budgetello account? Log in
    <a routerLink="/login" class="p-text-secondary pointer">here</a>.
  </p>
</div>

<p-toast position="bottom-right"></p-toast>
