

::ng-deep {
  budgetello-kanban-board .list {
    background: #02040a;
    border: 1px solid var(--surface-border);
    border-radius: 4px;

    .card {
      padding: 5px;
      border: 1px solid var(--surface-border);
      background: var(--surface-card);
      border-radius: 4px;
    }

  }


  .cdk-drag-placeholder {
    background: var(--surface-card);
    opacity: 0.5;
  }


  .cdk-drag-preview {
    background: #02040a;
    border: 1px solid var(--surface-border);
    border-radius: 4px;
    opacity: 1;

    .card {
      padding: 5px;
      border: 1px solid var(--surface-border);
      background: var(--surface-card);
      border-radius: 4px;

    }
  }

}
