@use 'assets/styles';

:host {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex: 1;

  budgetello-board-header + main {
    flex: 1;
  }

  ::ng-deep budgetello-kanban-board {
    position: relative;
    .list-type-indicator {
      &-plus-circle:before {
        color: styles.$variables-color-income;
      }
      &-minus-circle {
        color: styles.$variables-color-expense;
      }
      &-sync {
        color: styles.$variables-color-split;
      }
      &-money-bill {
        color: styles.$variables-color-success;
      }
    }

    .list-title {
      display: flex;
      align-items: center;
    }

    &.lists-empty {
      .list-summary .cards::before {
        display: grid;
        align-content: flex-end;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        content: 'Add cards to start seeing a summary';
        color: styles.$variables-color-plain;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .list {
      &-income {
        border: 1px solid rgba(styles.$variables-color-income, 0.7);
      }
      &-expense {
        border: 1px solid rgba(styles.$variables-color-expense, 0.7);
      }
      &-split {
        border: 1px solid rgba(styles.$variables-color-split, 0.7);
      }
      &-summary {
        position: relative;
        border: 1px solid rgba(styles.$variables-color-plain, 0.7);
      }
      &-stock {
        position: relative;
        border: 1px solid rgba(styles.$variables-color-success, 0.7);
        min-width: 400px;
      }
    }

    .list.add.isCreatingList {
      height: 200px;

      .add-list-form budgetello-add-list-form {
        height: 100%;
        gap: 10px;
      }
    }
  }
}
