<ng-container *ngIf="board$ | async as board">
  <budgetello-board-header
    [boardTitle]="board.title"
    (boardTitleUpdated)="updateBoardTitle($event)"
    (boardDeleted)="deleteBoard(board)"
  ></budgetello-board-header>

  <main>
    <budgetello-kanban-board
      class="kanban-board"
      [lists]="board.lists"
      (listAdded)="$event.preventDefault()"
      [getListCssClass]="getListCssClass"
    >
      <!-- list header -->
      <ng-template kanbanTemplate="listHeader" let-list>
        <budgetello-list-header
          [list]="list"
          (listTitleChanged)="updateList({ title: $event.title, id: list.id })"
        ></budgetello-list-header>
      </ng-template>

      <!-- list card -->
      <ng-template kanbanTemplate="card" let-card>
        <div class="flex space-between">
          <h4 class="title">{{ card.title }}</h4>
          <p class="amount">
            {{ card.amount | currency: 'USD':'symbol':'1.0' }}
          </p>
        </div>
      </ng-template>

      <!-- list footer -->
      <ng-template kanbanTemplate="listFooter" let-list>
        <budgetello-list-footer
          [total]="list | calculateListTotal"
          class="w-full"
          (submitNewCard)="createCard($event, list)"
        ></budgetello-list-footer>
      </ng-template>

      <!--  add list form    -->
      <ng-template
        kanbanTemplate="addListForm"
        let-isCreatingList="isCreatingList"
        let-close
      >
        <budgetello-add-list-form
          *ngIf="isCreatingList"
          class="flex-column"
          [isCreatingList]="isCreatingList"
          (closeButtonClicked)="close($event)"
          (listAdded)="
            addList({
              $event: $event.event,
              title: $event.title,
              type: $event.type
            });
            close()
          "
        ></budgetello-add-list-form>
      </ng-template>
    </budgetello-kanban-board>
  </main>
</ng-container>
