<ng-container *ngIf="board$ | async as board">
  <budgetello-board-header
    [boardTitle]="board.title"
    (boardTitleUpdated)="updateBoardTitle($event)"
    (boardDeleted)="deleteBoard(board)"
  ></budgetello-board-header>

  <main>
    <budgetello-kanban-board
      class="kanban-board"
      [class.lists-empty]="board.areListsEmpty"
      [lists]="board.lists"
      (listAdded)="$event.preventDefault()"
      [getListCssClass]="getListCssClass"
      (listReordered)="reorderLists($event)"
      (cardsReordered)="reorderCards($event, board)"
    >
      <!-- list header -->
      <ng-template kanbanTemplate="listHeader" let-list>
        <budgetello-list-header
          [list]="list"
          (listTitleChanged)="updateList({ title: $event.title, id: list.id })"
          (listDeleted)="deleteList(list)"
        ></budgetello-list-header>
      </ng-template>

      <!-- list card -->
      <ng-template kanbanTemplate="card" let-card let-list="list">
        <budgetello-kanban-card
          [card]="card"
          [list]="list"
        ></budgetello-kanban-card>
      </ng-template>

      <!-- list footer -->
      <ng-template kanbanTemplate="listFooter" let-list>
        <budgetello-list-footer
          [total]="list | calculateListTotal"
          [type]="list.type"
          class="w-full"
          (submitNewCard)="createCard($event, list)"
        ></budgetello-list-footer>
      </ng-template>

      <!--  add list form    -->
      <ng-template
        kanbanTemplate="addListForm"
        let-isCreatingList="isCreatingList"
        let-close
      >
        <budgetello-add-list-form
          *ngIf="isCreatingList"
          class="flex-column"
          [isCreatingList]="isCreatingList"
          (closeButtonClicked)="close($event)"
          (listAdded)="
            addList({
              $event: $event.event,
              title: $event.title,
              type: $event.type
            });
            close()
          "
        ></budgetello-add-list-form>
      </ng-template>
    </budgetello-kanban-board>
  </main>
</ng-container>
