<ng-container *ngIf="!isSummary">
  <footer
    class="add-card-row mt-10 space-between w-full"
    [class.isCreatingCard]="isCreatingCard"
  >
    <div class="flex flex-1">
      <button
        *ngIf="!isCreatingCard"
        (click)="isCreatingCard = !isCreatingCard"
        pButton
        class="p-button-sm p-button-text p-button-plain"
        icon="pi pi-plus"
        label="Add a card"
      ></button>
      <div
        class="flex flex-1 flex-end align-center"
        *ngIf="!isCreatingCard && type !== '$'"
      >
        <ng-container *ngTemplateOutlet="totalTmpl"></ng-container>
      </div>
    </div>

    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="stock">
        <form
          class="w-full flex-column gap-10"
          [formGroup]="addStockCardForm"
          *ngIf="isCreatingCard"
          (keydown.escape)="stopCreatingCard($event)"
          (submit)="submitStockCard($event)"
        >
          <p-autoComplete
            class="w-full"
            appendTo="body"
            (click)="searchSymbol({ query: defaultQuery })"
            (completeMethod)="searchSymbol($event)"
            [formControl]="selectedStock"
            [itemSize]="34"
            [suggestions]="stockSuggestions"
            [virtualScroll]="true"
            [forceSelection]="true"
            placeholder="Search for symbols or companies..."
            field="displayName"
          >
            <ng-template let-suggestion pTemplate="item">
              <div class="suggestion-item">
                <span>{{ suggestion.name }}</span>
                <span>({{ suggestion.symbol }})</span>
              </div>
            </ng-template>
            <ng-template let-suggestion pTemplate="item">
              <div class="suggestion-item">
                <span>{{ suggestion.name }}</span>
                <span>({{ suggestion.symbol }})</span>
              </div>
            </ng-template>
          </p-autoComplete>
          <div class="shares">
            <p-inputNumber
              class="w-full"
              placeholder="Shares..."
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-secondary"
              [formControl]="shares"
              mode="decimal"
              [showButtons]="true"
              [min]="0"
            >
            </p-inputNumber>
          </div>
          <ng-container *ngTemplateOutlet="submitButtons"></ng-container>
        </form>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <form
          class="w-full flex-column gap-10"
          [formGroup]="addIncomeExpenseCardForm"
          *ngIf="isCreatingCard"
          (keydown.escape)="stopCreatingCard($event)"
          (submit)="submitIncomeExpenseCard($event)"
        >
          <budgetello-text-input
            class="w-full"
            [small]="true"
            [formControl]="incomeExpenseCardTitleFormControl"
            placeholder="Card title..."
            [autofocus]="true"
            iconLeft="pi pi-book"
          >
          </budgetello-text-input>

          <budgetello-text-input
            class="w-full"
            [small]="true"
            [formControl]="incomeExpenseCardAmountFormControl"
            placeholder="Amount..."
            type="number"
            iconLeft="pi pi-dollar"
          >
          </budgetello-text-input>

          <ng-container *ngTemplateOutlet="submitButtons"></ng-container>
        </form>
      </ng-container>
    </ng-container>
  </footer>

  <ng-template #totalTmpl>
    <div
      class="flex align-center total cursor-default"
      pTooltip="{{
        total === 0 ? '0' : (total | currency: 'USD':'symbol':'1.0')
      }}"
      tooltipPosition="bottom"
    >
      <i class="pi pi-eye mx-4"></i>Total
    </div>
  </ng-template>
</ng-container>

<ng-template #submitButtons let-type>
  <div class="flex w-full">
    <button
      pButton
      class="p-button-sm p-button-text p-button-plain"
      label="Add"
    ></button>
    <button
      pButton
      (click)="stopCreatingCard($event)"
      class="mx-10 p-button-sm p-button-text p-button-plain"
      icon="pi pi-times"
    ></button>
  </div>
</ng-template>
