:host {
  height: 100%;
  justify-content: flex-start;
  display: inline-flex;
  width: fit-content;
  min-width: 900px;
  margin: 0 auto;
}

.add-board-form {
  min-width: 220px;
  padding: 20px;
  background: var(--surface-card);
  border-radius: 4px;
  opacity: 0.6;
  border: 2px dashed var(--surface-border);
  cursor: pointer;

  input {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
  }
}

.board-previews {
  flex-wrap: wrap;
  gap: 20px;
}
