/* You can add global styles to this file, and also import other style files */

html, body, budgetello-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-ground);
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //  todo temporary
  padding: 20px;
}
