:host {
  ::ng-deep .p-button {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;

    img {
      width: 25px;
    }

    &:hover {
      background: darken(#fff, 10%);
    }
    &:active,
    &:focus {
      background: darken(#fff, 20%);
    }
  }
}
